# Use systemd to keep logging alive and autostart on boot.
# There is a symlink to this file living in ~/.config/systemd/user/fermenter-logging.service

[Unit]
Description=Logging Daemon for the fermenter project.
Documentation=https://github.com/sbadame/fermenter/tree/master#fermenter 

[Service]
Type=simple
ExecStart=/home/sandro/fermenter/logging/logger.sh
Restart=always

[Install]
WantedBy=default.target
